@import '../../styles/mixins';

$container-padding: 1.25rem;

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-black);
  padding: 1.25rem;
  color: var(--color-white);
}

.iconButton {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: var(--color-white);
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  background-color: var(--color-accent-orange-500);
  padding: 0 $container-padding;
  color: white;
}

.aboutEffitizer {
  @include text-style-body1-medium;
  display: flex;
  flex-direction: row;
  margin-top: 2.625rem;
  margin-bottom: 4.25rem;
  gap: 1.5rem;

  img {
    flex: none;
  }
}

.footerLinks {
  @include text-style-body2-bold;
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
  list-style-type: none;
  gap: 1.5rem;
}

.companyInfo {
  @include text-style-body2-medium;
  color: var(--color-accent-orange-200);
  margin-bottom: 1.5rem;

  a {
    color: inherit;
  }
}

.copyright {
  @include text-style-body3-regular;
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: var(--color-accent-orange-200);
}

.menuWrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);
}

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-gray-1000);
  padding: 1.25rem;
  width: calc(100vw - 3.5rem);
}

.closeMenuButton {
  align-self: flex-end;
}

.menuBody {
  margin-top: 1.625rem;
  padding: 0 0.75rem;
}

.menuList {
  list-style-type: none;
}

.menuListItem:not(:last-child) {
  border-bottom: 1px solid var(--color-gray-800);
}

.menuListItem a {
  display: block;
  padding: 1.5rem 0;
}

.loginButton {
  @include text-style-subtitle1-semibold;
  display: block;
  margin-top: 2rem;
  background-color: var(--color-primary);
  color: var(--color-black);
  padding: 0.625rem;
  text-align: center;
}
