@import '../../styles/mixins';

$container-padding: 1.25rem;
$menu-zindex: 100;

.header {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-black);
  padding: 1.25rem;
  color: var(--color-white);
}

.openMenuButton {
  @include for-tablet-portrait-up {
    display: none;
  }
}

.iconButton {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: var(--color-white);
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  background-color: var(--color-accent-orange-500);
  padding: 0 $container-padding;

  @include for-tablet-portrait-up {
    margin-top: 11.75rem;
  }
}

.footerContentWrapper {
  display: flex;
  flex-direction: column;
  padding: 0 $container-padding;
  color: white;

  @include for-tablet-portrait-up {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    align-self: center;
    margin-top: 3.5rem;
    gap: 0 8.75rem;
  }
}

.aboutEffitizer {
  @include text-style-body1-medium;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 2.625rem;
  margin-bottom: 4.25rem;
  gap: 1.5rem;

  @include for-tablet-portrait-up {
    @include text-style-subtitle1-semibold;
    margin-top: 0;
    margin-bottom: 3.5rem;
    width: 30.5625rem;
  }

  .logo {
    width: 4.75rem;
    flex: none;

    @include for-tablet-portrait-up {
      width: 5.75rem;
    }
  }
}

.footerLinks {
  @include text-style-body2-bold;
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
  list-style-type: none;
  gap: 1.5rem;

  a {
    white-space: nowrap;
  }

  @include for-tablet-portrait-up {
    gap: 4.5rem;
    margin-bottom: 2rem;
  }
}

.companyInfo {
  @include text-style-body2-medium;
  color: var(--color-accent-orange-200);
  margin-bottom: 1.5rem;

  a {
    color: inherit;
  }
}

.footerCopyrightWrapper {
  display: flex;
  flex-direction: column;
  padding: 0 $container-padding;

  @include for-tablet-portrait-up {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 76.875rem;
    max-width: 100%;
    align-self: center;
    padding: 2rem 0;
    border-top: 1px solid var(--color-accent-orange-400);
  }
}

.copyright {
  @include text-style-body3-regular;
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: var(--color-accent-orange-200);

  @include for-tablet-portrait-up {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.menuWrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: $menu-zindex;
}

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-gray-1000);
  padding: 1.25rem;
  width: calc(100vw - 3.5rem);
  z-index: $menu-zindex;
}

.closeMenuButton {
  align-self: flex-end;
}

.menuBody {
  margin-top: 1.625rem;
  padding: 0 0.75rem;
}

.menuList {
  list-style-type: none;
}

.menuListItem:not(:last-child) {
  border-bottom: 1px solid var(--color-gray-800);
}

.menuListItem a {
  display: block;
  padding: 1.5rem 0;
}

.loginButton {
  @include text-style-subtitle1-semibold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  border: 0;
  background-color: var(--color-primary);
  cursor: pointer;
  padding: 0.625rem;
  width: 100%;
  text-align: center;
  color: var(--color-black);
}

.desktopMenu {
  display: none;

  @include for-tablet-portrait-up {
    display: block;
  }
}

.desktopMenuContainer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 20rem);
  height: 100%;
  max-width: 76.875rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2.25rem;
}

.desktopMenuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2.25rem;
  height: 100%;
  white-space: nowrap;
}

.desktopMenu .loginButton {
  @include text-style-body1-regular;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  width: 10rem;
  height: 100%;
}
