@import 'mixins';

$title-padding: 1.25rem;
$title-padding-desktop: 4rem;
$container-width: 76.875rem;

.headerSection {
  border-bottom: 1px solid var(--color-gray-1000);

  @include for-tablet-portrait-up {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include margin-horizontal(auto);
    max-width: var(--container-width);
  }
}

.headerText {
  @include for-tablet-portrait-up {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 37.5rem;
    padding: 5rem $title-padding-desktop;
  }
}

.bookCoverBackground {
  margin-bottom: 2.5rem;
  padding: 3.125rem 0;
  background-color: var(--color-accent-yellow-500);

  @include for-tablet-portrait-up {
    flex: none;
    margin-bottom: 0;
    padding: min(5.3625vw, 4.125rem) 0;
    width: min(39vw, 30rem);
    height: min(39vw, 30rem);
  }

  @include for-tablet-narrow {
    width: 100%;
  }
}

.bookCoverParent {
  position: relative;
  height: 14.5rem;

  @include for-tablet-portrait-up {
    height: 100%;
  }
}

.bookCoverParent img {
  object-fit: contain;
}

.title {
  @include text-style-h4-bold;
  margin-bottom: 2rem;
  padding: 0 $title-padding;

  @include for-tablet-portrait-up {
    @include text-style-h1-bold;
    margin-bottom: 3.5rem;
    padding: 0;
  }
}

.bookInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 $title-padding;
  gap: 0.625rem 1rem;
  padding-bottom: 2.5rem;

  @include for-tablet-portrait-up {
    padding: 0;
    flex-direction: column;
  }
}

.bookInfoItem {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.bookInfoItemLabel {
  @include text-style-body1-bold;
  margin-right: 0.5rem;
  color: var(--color-accent-orange-500);
  white-space: nowrap;

  @include for-tablet-portrait-up {
    @include text-style-h6-bold;
  }
}

.bookInfoItemBody {
  @include text-style-body1-medium;

  @include for-tablet-portrait-up {
    @include text-style-h6-regular;
  }
}

.contentSection {
  position: relative;
}

.contentBody {
  @include text-style-subtitle1-regular;
  position: relative;
  align-self: center;
  margin-right: auto;
  margin-bottom: 8rem;
  margin-left: auto;
  padding: 3rem 2.5rem;
  max-width: $container-width;
  line-height: 2 !important;

  @include for-tablet-portrait-up {
    @include text-style-h5-regular;
    padding: 5rem 0;
  }
}

.contentBody::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) calc(100% - 6rem)
  );
}

.wannaReadMore {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.wannaReadMoreTitle {
  @include text-style-h5-bold;
  margin-bottom: 1rem;

  @include for-tablet-portrait-up {
    @include text-style-h2-bold;
  }
}

.wannaReadMoreBody {
  @include text-style-body1-regular;
  margin-bottom: 3.5rem;

  @include for-tablet-portrait-up {
    @include text-style-subtitle1-regular;
  }
}

.wannaReadMoreButton {
  @include outlined-button;
}

.prevNextSection {
  @include for-tablet-wide {
    display: flex;
    position: relative;
    justify-content: center;
    border-top: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
    overflow: hidden;

    &::after {
      content: '';
      display: block;
      height: 100%;
      background-color: var(--color-black);
      width: 1px;
      left: 50%;
      position: absolute;
      top: 0;
    }
  }
}

.previousNextContent {
  position: relative;
  display: block;
  border-top: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
  padding: 1.5rem 5.75rem;
  color: var(--color-gray-1000);

  @include for-tablet-wide {
    width: 50%;
    flex: none;
    border-top: 0;
    border-bottom: 0;
    padding: 2.5rem;
    width: calc(min(50vw, 38.4375rem) + 2.5rem);
  }
}

.previousNextContentPlaceholder {
  display: none;

  @include for-tablet-wide {
    display: block;
  }
}

.previousNextContentRight {
  text-align: right;
}

.previousNextContentIcon {
  position: absolute;
  top: 1.5rem;

  @include for-tablet-wide {
    width: 72px;
    height: 72px;
    top: calc(50% - 36px);
  }
}

.previousNextContentIconLeft {
  left: 1.25rem;
  transform: rotateZ(180deg);

  @include for-tablet-wide {
    left: -10rem;
  }
}

.previousNextContentIconRight {
  right: 1.25rem;

  @include for-tablet-wide {
    right: -10rem;
  }
}

.previousNextContent + .previousNextContent {
  border-top: 0;
}

.previousNextContentTitle {
  @include text-style-body1-bold;
  margin-bottom: 0.5rem;
  color: var(--color-primary-600);

  @include for-tablet-wide {
    @include text-style-h6-bold;
    margin-bottom: 1.5rem;
  }
}

.previousNextContentBookTitle {
  @include text-style-h6-bold;
  margin-bottom: 0.375rem;

  @include for-tablet-wide {
    @include text-style-h4-bold;
    margin-bottom: 1rem;
  }
}

.previousNextContentBookSubtitle {
  @include text-style-body1-regular;
  color: var(--color-gray-700);

  @include for-tablet-wide {
    @include text-style-subtitle1-regular;
  }
}

.recommendedListSection {
  padding-top: 5rem;

  @include for-tablet-wide {
    @include margin-horizontal(auto);
    padding-top: 9.75rem;
    max-width: var(--container-width);
  }
}

.recommendedListTitle {
  @include text-style-h6-bold;
  margin-bottom: 0.75rem;
  padding: 0 $title-padding;

  @include for-tablet-wide {
    @include text-style-h4-bold;
    padding: 0;
    margin-bottom: 4rem;
  }
}

.recommendedList {
  list-style-type: none;

  @include for-tablet-wide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6.5625rem 5.75rem;
  }
}

.recommendedListItem {
  position: relative;
}

.recommendedListItem:not(:last-child)::after {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--color-gray-300);
  width: calc(100vw - 1.25rem);
  height: 1px;
  content: '';

  @include for-tablet-wide {
    display: none;
  }
}

.recommendedListItem:nth-child(2n + 1):not(:first-child)::before {
  @include for-tablet-wide {
    display: block;
    position: absolute;
    top: -3.25rem;
    left: 0;
    background-color: var(--color-gray-300);
    width: calc(200% + 5.75rem);
    height: 1px;
    content: '';
  }
}

.recommendedListItemLink {
  display: flex;
  gap: $title-padding;
  padding: $title-padding;

  @include for-tablet-wide {
    padding: 0;
  }
}

.recommendedListItemText {
  flex: 1;
  padding-top: 0.75rem;
}

.recommendedListItemTitle {
  @include text-style-subtitle1-bold;
  margin-bottom: 0.25rem;

  @include for-tablet-wide {
    @include text-style-h6-bold;
  }
}

.recommendedListItemBody {
  @include text-style-body2-regular;
  color: var(--color-gray-700);
}

.recommendedListItemImageWrapper {
  position: relative;
  width: 6.5rem;
  height: 6.5rem;

  @include for-tablet-wide {
    width: 9.75rem;
    height: 9.75rem;
  }
}

.recommendedListItem:nth-child(5n + 1) .recommendedListItemImageWrapper {
  background: var(--color-accent-yellow-400);
}

.recommendedListItem:nth-child(5n + 2) .recommendedListItemImageWrapper {
  background: var(--color-accent-orange-500);
}

.recommendedListItem:nth-child(5n + 3) .recommendedListItemImageWrapper {
  background: var(--color-accent-orange-400);
}

.recommendedListItem:nth-child(5n + 4) .recommendedListItemImageWrapper {
  background: var(--color-primary-400);
}

.recommendedListItem:nth-child(5n) .recommendedListItemImageWrapper {
  background: var(--color-primary-700);
}
