@import 'mixins';

$container-padding: 1.25rem;
$category-list-gap: 0.75rem;

.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: $container-padding;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
.title {
  margin-top: 4rem;
  margin-bottom: 0.5rem;
}

.catchphrase {
  @include text-style-body1-bold;
}

.titleText {
  @include text-style-h3-bold;
  margin-top: 1.25rem;
}

.subscribeButton {
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  justify-content: center;
  margin-right: 0.75rem;
  border: 1px var(--color-black) solid;
  border-radius: 50%;
  background-color: var(--color-accent-yellow-500);
  color: var(--color-gray-1000);
  cursor: pointer;
  width: 8rem;
  height: 8rem;
  transition: 0.2s;

  @include text-style-body2-bold;
}

.subscribeButton:hover {
  background-color: var(--color-black);
  color: var(--color-accent-yellow-500);
}

.coverImageWrapper {
  margin-top: -4rem;
  z-index: -1;
  margin-bottom: 3.5rem;
  width: 100vw;
  margin-left: -$container-padding;
}

.categoryList {
  gap: $category-list-gap;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 4rem;
  list-style-type: none;
}

.categoryListItem {
  @include text-style-body1-medium;

  text-align: center;
  background-color: var(--color-gray-100);
  color: var(--color-black);
}

.categoryListItem.selected {
  background-color: var(--color-gray-900);
  color: var(--color-white);
}

.categoryListItem a {
  display: block;
  padding: 0.625rem;
  color: inherit;
}

.contentGroupList {
  list-style-type: none;
  margin-left: -$container-padding;
  margin-right: -$container-padding;
}

.contentGroupItem:not(:first-child) {
  margin-top: 2rem;
}

.contentListTitle {
  @include text-style-h6-bold;
  padding: 1.625rem 2.25rem 1.625rem 1.25rem;

  border-bottom: 2px solid var(--color-black);
}

.contentGroupItem:nth-child(4n + 1) .contentListTitle {
  background-color: var(--color-accent-orange-500);
}

.contentGroupItem:nth-child(4n + 2) .contentListTitle {
  background-color: var(--color-accent-blue-500);
}

.contentGroupItem:nth-child(4n + 3) .contentListTitle {
  background-color: var(--color-primary-500);
}

.contentGroupItem:nth-child(4n) .contentListTitle {
  background-color: var(--color-accent-yellow-500);
}

.contentListItem {
  display: flex;
  position: relative;
  align-items: center;
  padding: 1.5rem 1.25rem;
  gap: 1.25rem;
}

.contentListItem:not(:last-child)::after {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--color-gray-900);
  width: calc(100vw - 1.25rem);
  height: 1px;
  content: '';
}

.contentListItemText {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.contentListItemTitle {
  @include text-style-subtitle1-bold;
}

.contentListItemBody {
  @include text-style-body2-regular;
  margin-top: 0.25rem;
  color: var(--color-gray-700);
}

.loadMoreButton {
  @include text-style-body1-regular;
  align-self: center;
  margin-top: 4rem;
  border: 1px solid var(--color-gray-1000);
  background-color: transparent;
  color: var(--color-gray-1000);
  padding: 1rem 5rem;
  cursor: pointer;
}
