@import 'mixins';

$container-padding: 1.25rem;
$category-list-gap: 0.75rem;

.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: $container-padding;

  @include for-tablet-portrait-up {
    width: calc(76.875rem + 2 * $container-padding);
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
  }
}

.title {
  margin-top: 4rem;
  margin-bottom: 0.5rem;

  @include for-tablet-portrait-up {
    margin-top: 6.5rem;
    width: 100%;
    align-self: center;
  }
}

.catchphrase {
  @include text-style-body1-bold;
  color: var(--color-primary);
}

.titleText {
  @include text-style-h3-bold;
  margin-top: 1.25rem;

  @include for-tablet-portrait-up {
    @include text-style-h1-bold;
    margin-top: 1.5rem;
  }
}

.subscribeButton {
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  justify-content: center;
  margin-right: 0.75rem;
  border: 1px var(--color-black) solid;
  border-radius: 50%;
  background-color: var(--color-accent-yellow-500);
  color: var(--color-gray-1000);
  cursor: pointer;
  width: 8rem;
  height: 8rem;
  transition: 0.2s;

  @include text-style-body2-bold;

  @include for-tablet-portrait-up {
    margin-top: -1.875rem;
    margin-right: 0;
    width: 11.875rem;
    height: 11.875rem;
    gap: 0.5rem;

    @include text-style-body1-bold;

    svg {
      width: 4.5rem;
      height: 4.5rem;
    }
  }
}

.subscribeButton:hover {
  background-color: var(--color-black);
  color: var(--color-accent-yellow-500);
}

.coverImageWrapper {
  margin-top: -4rem;
  z-index: -1;
  margin-bottom: 3.5rem;
  width: 100vw;
  margin-left: -$container-padding;
  overflow: hidden;

  @include for-tablet-portrait-up {
    margin-top: -5.9375rem;
    margin-bottom: 6.5rem;
    margin-left: 0;
    height: 26.25rem;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.categoryList {
  gap: $category-list-gap;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 4rem;
  list-style-type: none;

  @include for-tablet-portrait-up {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 73.75rem;
    align-self: center;
    margin-bottom: 6.5rem;
  }
}

.categoryListItem {
  @include text-style-body1-medium;

  text-align: center;
  background-color: var(--color-gray-100);
  color: var(--color-black);

  @include for-tablet-portrait-up {
    width: 11.25rem;
  }
}

.categoryListItem.selected {
  background-color: var(--color-gray-900);
  color: var(--color-white);
}

.categoryListItem a {
  display: block;
  padding: 0.625rem;
  color: inherit;
}

.contentGroupList {
  list-style-type: none;
  margin-left: -$container-padding;
  margin-right: -$container-padding;

  @include for-tablet-portrait-up {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-self: center;
    justify-content: center;
    max-width: 76.875rem;
    gap: 1.5rem 1.875rem;
  }
}

.contentGroupItem {
  @include for-tablet-portrait-up {
    width: 37.5rem;
  }
}

.contentGroupItem:not(:first-child) {
  margin-top: 2rem;

  @include for-tablet-portrait-up {
    margin-top: 0;
  }
}

.contentListTitle {
  @include text-style-h6-bold;
  padding: 1.625rem 2.25rem 1.625rem 1.25rem;

  border-bottom: 2px solid var(--color-black);

  @include for-tablet-portrait-up {
    @include text-style-h5-bold;

    display: flex;
    align-items: center;
    padding: 2.25rem 2rem;
    height: 9.25rem;
  }
}

.contentGroupItem:nth-child(4n + 1) .contentListTitle {
  background-color: var(--color-accent-orange-500);
}

.contentGroupItem:nth-child(4n + 2) .contentListTitle {
  background-color: var(--color-accent-blue-500);
}

.contentGroupItem:nth-child(4n + 3) .contentListTitle {
  background-color: var(--color-primary-500);
}

.contentGroupItem:nth-child(4n) .contentListTitle {
  background-color: var(--color-accent-yellow-500);
}

.contentListItems {
  list-style-type: none;
}

.contentListItem {
  position: relative;
}

.contentListItem:not(:last-child)::after {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--color-gray-900);
  width: calc(100vw - 1.25rem);
  height: 1px;
  content: '';

  @include for-tablet-portrait-up {
    width: calc(100% - 4rem);
    right: 2rem;
  }
}

.contentListItem > a {
  display: flex;
  position: relative;
  align-items: center;
  padding: 1.5rem 1.25rem;
  gap: 1.25rem;

  @include for-tablet-portrait-up {
    padding: 1.5rem 2rem;
  }
}

.contentListItemText {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.contentListItemTitle {
  @include text-style-subtitle1-bold;

  @include for-tablet-portrait-up {
    @include text-style-h6-bold;
  }
}

.contentListItemBody {
  @include text-style-body2-regular;
  margin-top: 0.25rem;
  color: var(--color-gray-700);

  @include for-tablet-portrait-up {
    @include text-style-body1-regular;
    margin-top: 0.375rem;
  }
}

.loadMoreButton {
  @include outlined-button;
  align-self: center;
  margin-top: 4rem;

  @include for-tablet-portrait-up {
    margin-top: 7rem;
  }
}
